
.header {
    background: $off-black;
    color: white;
    margin-bottom: $XL-size;
    padding: $m-size 0;
}

.header__title {
    font-size: $L-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size:$m-size;
    font-weight: 500;
    margin: 0;
}